body {
    font-family: Cinzel, serif;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1 0 100%;

    .card {
        flex: 0 1 calc(25% - 1em);
        border: 1px solid rgba(0, 0, 0, .125);
        padding: 0 0 10px 0;
        margin: 0 0 20px 0;
        background: url('https://placeimg.com/640/480/animals') no-repeat center top;
        background-size: auto 215px;

        @media (max-width: $screen-sm) {
            flex: 0 1 48%;
            padding-bottom: 0;
            background-size: cover;
        }
    }

    .card-header {
        display: flex;
        background: #4a4a4a;
        flex: 0 1 7%;
        padding: 0 12px;

        h4 {
            line-height: 0;
        }
    }

    .card-content {
        display: flex;
        align-self: center;
        justify-content: flex-end;
        flex-direction: column;
        height: 315px;

        @media (max-width: $screen-sm) {
            flex: 1 1 100%;
            height: 235px;
            color: #ffffff;
        }
    }

    .card-description {
        padding: 0 12px;
        justify-content: flex-end;
        @media (max-width: $screen-sm) {
            p {
                color: white;
            }
        }
    }

    .button-container {
        display: flex;
        width: 100%;
        justify-content: center;

        .btn {
            font-family: Cinzel, serif;
            padding: 0.5rem;
            display: flex;
            justify-content: center;
            width: 90%;
            color: #ffffff;
            background-color: #1B1B1B;
            border: 1px solid #1b1b1b;

            @media (max-width: $screen-sm) {
                width: 100%;
            }
        }
    }
}