/******************************************************************
Site Name: FSv5
Stylesheet: Variables
Description: Defines variables used by both the Bootstrap framework
and theme specific styles.
Original variables were loaded via bootstrap/_variables.scss and are redefined here

If a section is commented out, that means the Bootstrap defaults for those sections are being used.
******************************************************************/
/** Base Elements color vars
***************************************************/
/** Single Post color vars
***************************************************/
/* FanSided specific var:
screen width breakpoint used to remove margins/padding on full-width wrapper elements
************************************************/
h1 {
  font-weight: 400;
  font-size: 25.5px;
  line-height: 34px;
  color: #000000; }

h2 {
  font-weight: 400;
  font-size: 25.5px;
  line-height: 34px;
  color: #000000; }

h4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20.8px;
  color: #ffffff; }

h5 {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000; }

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000; }

body {
  font-family: Cinzel, serif;
  background: #f3f3f3; }

.container {
  margin: 20px;
  padding: 20px; }

.card {
  flex: 0 1 calc(25% - 2em);
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0 0 10px 0;
  margin: 0 10px 0 10px;
  background: #fff url("http://via.placeholder.com/350x150") no-repeat center 35px;
  background-size: auto 210px; }
  @media (max-width: 768px) {
    .card {
      flex: 0 1 48%;
      padding-bottom: 0;
      background-size: cover; } }

.header {
  display: flex;
  background: #4a4a4a;
  flex: 0 1 7%;
  padding: 0 12px; }
  .header h4 {
    line-height: 0; }

.content {
  display: flex;
  align-self: center;
  justify-content: flex-end;
  flex-direction: column;
  height: 315px; }
  @media (max-width: 768px) {
    .content {
      flex: 1 1 100%;
      height: 235px;
      color: #ffffff; } }

.card-description {
  padding: 0 12px;
  justify-content: flex-end; }
  @media (max-width: 768px) {
    .card-description p {
      color: white; } }

.button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 5px 0 0 0; }
  .button-container .btn {
    font-family: Cinzel, serif;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    width: 90%;
    color: #ffffff;
    background-color: #1b1b1b;
    border: 1px solid #1b1b1b; }
    @media (max-width: 768px) {
      .button-container .btn {
        width: 100%; } }
