/******************************************************************
Site Name: FSv5
Stylesheet: Variables
Description: Defines variables used by both the Bootstrap framework
and theme specific styles.
Original variables were loaded via bootstrap/_variables.scss and are redefined here

If a section is commented out, that means the Bootstrap defaults for those sections are being used.
******************************************************************/
/** Base Elements color vars
***************************************************/
h1 {
  font-weight: 400;
  font-size: 25.5px;
  line-height: 34px;
  color: #000000; }

h2 {
  font-weight: 400;
  font-size: 25.5px;
  line-height: 34px;
  color: #000000; }

h4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20.8px;
  color: #ffffff; }

h5 {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000; }

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000; }

body {
  font-family: Cinzel, serif;
  background: #f3f3f3;
  text-rendering: optimizeLegibility; }

.container {
  margin: 20px;
  padding: 20px;
  width: calc(100% - 85px); }

.card {
  flex: 0 1 calc(25%);
  padding: 0 0 12px 0;
  margin: 0 6px;
  background: #fff url("http://via.placeholder.com/280x200") no-repeat center 35px;
  background-size: auto 235px; }
  @media (max-width: 768px) {
    .card {
      flex: 0 1 48%;
      padding-bottom: 0;
      background-size: cover; } }

.header {
  display: flex;
  background: #4a4a4a;
  flex: 0 1 7%;
  padding: 0 12px; }
  .header h4 {
    line-height: 0; }

.content {
  display: flex;
  align-self: center;
  justify-content: flex-end;
  flex-direction: column;
  height: 395px; }
  @media (max-width: 768px) {
    .content {
      flex: 1 1 100%;
      height: 235px;
      color: #ffffff; } }

.card-description {
  padding: 0 12px;
  justify-content: flex-end; }
  @media (max-width: 768px) {
    .card-description p {
      color: white; } }

.slick-prev {
  left: -55px; }

.slick-next {
  right: -50px; }

.slick-next, .slick-prev {
  font-size: 0;
  line-height: 0;
  top: 50%;
  width: 50px;
  height: 105px;
  transform: translate(0, -50%);
  cursor: pointer;
  color: black;
  border: none;
  outline: 0;
  background: #d8d8d8; }

.slick-prev:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f104";
  font-size: 48px;
  color: #818181; }

.slick-slider .slick-prev:hover {
  transition: background .2s ease-in-out;
  background: rgba(0, 0, 0, 0.3); }

.slick-slider .slick-next:hover {
  transition: background .2s ease-in-out;
  background: rgba(0, 0, 0, 0.3); }

.slick-next:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f105";
  font-size: 48px;
  color: #818181; }

.button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 5px 0 0 0;
  margin: 0; }
  .button-container .btn {
    font-family: Cinzel, serif;
    padding: 0.5rem;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 90%;
    color: #ffffff;
    background-color: #1b1b1b;
    border: 1px solid #1b1b1b; }
    @media (max-width: 768px) {
      .button-container .btn {
        width: 100%; } }
